*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.scroll{
    height: 2000px;
    width: 20px;
    background-color: aliceblue;
}

body{
    background-color: grey;
}

.hero-image{
    background-image: url("../img/Beyond-Hero.png");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
}

nav{
    background-color: red;
    text-align: right;
    height: 38px;
    position: sticky;
    top: 0px;
    padding-top: 9px;
}

nav ul li{
    display: inline;
    height: 38px;
    padding: 10px;
    margin-right: 5px;
   /*  border: 1px solid black; */
    list-style-type: none;
    border-radius: 10px;
}

nav ul li:hover{
   background-color: blue;
}

.active{
    border-bottom: 3px solid black;
}

li a{
    text-decoration: none;
}

footer{
    text-align: center;
    margin: 40px;
}

footer ul li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

section.index{
    width: 49.5%;
    display: inline-block;
    height: 70vh;
    background-color: cadetblue;
    margin-top: 5px;
}

article{
    width: 100%;
    height: 300px;
    background-color: crimson;
    text-align: center;
    display: inline-block;
}

section.about{
    width: 100%;
    height: 800px;
    background-color: bisque;
    display: inline-block;
}

.logo{
    height: 38px;
    float: left;
    margin-top: -9px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 33.33%;
    height: 400px;
    background-color:#fff;
    padding: 10px;
    /* border: 1px solid black; */
    text-align: center;
}

.descCol{
    height: 80px;
    background-color: aqua;
}
/* ----------------------------------Product images below */
.hatcard{
    background: url("../img/Beyond-Hat.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.hatcard:hover{
    background: url("../img/Hat-Zoom.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.Mteecard{
    background: url("../img/Beyond-Mens-Tee.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.Mteecard:hover{
    background: url("../img/Tee-Zoom.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.Wteecard{
    background: url("../img/Beyond-Womens-Tee.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.Wteecard:hover{
    background: url("../img/Tee-Zoom.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.beaniecard{
    background: url("../img/Beyond-Beanie.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.beaniecard:hover{
    background: url("../img/Beanie-Zoom.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.hoodiecard{
    background: url("../img/Beyond-Hoodie.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.hoodiecard:hover{
    background: url("../img/Hoodie-Zoom.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.polocard{
    background: url("../img/Beyond-Polo.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

.polocard:hover{
    background: url("../img/Polo-Zoom.jpg") no-repeat;
    background-size: contain;
    height: 99%;
    width: auto;
    background-position: center;
}

/* ----------------------------------Product images above */

/* Baloo 2, Kdam Thorm */